/*
font-family: 'Roboto', sans-serif;
*/
/******Fonts for site Myriad Pro and Open Sans*********/

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/******Reset CSS*********/
* {
    margin: 0;
    padding: 0;
}

*:after, :before {
    box-sizing: border-box;
}
body{
    margin: 0;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    border: none;
}
.wrapper{
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    right: 0;
}
/******* sidebar **********/
.sidebar {
    background: #1c2b36;
    position: relative;
}


.sidebar span {
    color: #009688;
}

.sidebar a {
    display: flex;
    flex-direction: row-reverse;
}

.nav-sidebar {
    list-style: none;
    display: block;
}

.nav-sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #009688;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 12.65px;
    text-transform: uppercase;

}

.nav-sidebar li:hover a, .nav-sidebar li:hover a span {
    color: #48a34d;
}

.nav-sidebar li a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 400;

}

/******* MAIN **********/
.section-header {
    padding: 17px 30px;
    margin: 0 -15px;
    background: #e6e6e6;
}

.section-header ul {
    list-style: none;
}
.section-header ul li{
   position: relative;
    display: block;
    line-height: 20px;

}
.form-control{
    background: #fff;
}

ul .dropdown-menu{
    display: none;
}
ul .dropdown-menu:hover {
    display: block;
}
.row-bg{
    background: #fff;
}
.form-control{
    padding-left: 35px;
    border: none;
}
#search-btn{
    position: absolute;
    top: 0;
    left: 1px;
    background: transparent;
}
.nav-rght>li+li:before {
    content: "";
    width: 1px;
    height: 100%;
    padding: 0 1px;
    background: rgba(70, 71, 68, 0.55);
    color: #cccccc;
}
.sub-header h2{
    color: #484848;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    /* Text style for "К, асса" */
    letter-spacing: -0.03px;
}
.sub-header nav{
    margin: 0;
    padding: 0;
    list-style: none;
}