/*font-family: 'Roboto', sans-serif;*/

/******Fonts for site Myriad Pro and Open Sans*********/

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/******Reset CSS*********/
* {
    margin: 0;
    padding: 0;
}

*:after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: none;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    right: 0;
}

/******* sidebar **********/
.sidebar {
    background: #1c2b36;
    position: relative;
    left: 0;
}

.sidebar-menu {
    margin-top: 35px;
}

.sidebar span {
    color: #009688;
}

.sidebar a {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.toggle-hamburger {
    background-color: transparent;
    /* color: #ccc; */
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 25px;
    font-size: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.toggle-hamburger:focus {
    outline: none;
}

.toggle-hamburger span {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    right: 5px;
    height: 4px;
    background: #009688;
}

.toggle-hamburger span::before, .toggle-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #009688;
    content: "";
}

.toggle-hamburger span::before {
    top: -20px;
}

.toggle-hamburger span::after {
    bottom: -20px;
}
.toggle-hamburger:hover .sidebar{

    left: -137px;
}
.nav-sidebar {
    list-style: none;
    display: block;
}

.nav-sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #009688;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;

}

.nav-sidebar li:hover a, .nav-sidebar li:hover a span {
    color: #48a34d;
}

.nav-sidebar li a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 400;

}

.toogle {
    display: block;

}

.toogle .btn-navbar {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 0 0 20px 0;
    background-color: gainsboro;
    /* background-image: none; */
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

/******* MAIN **********/
section {
    padding: 10px 15px;
}

/*****START SECTION HEADER*/
.content-header {
    padding: 17px 30px;
    margin: 0 -15px;
    background: #e6e6e6;
}

.content-header ul {
    list-style: none;
    font-size: 0;
}

.content-header .content-header_left li {
    position: relative;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;

}

.content-header_left__item a {
    position: relative;
    color: #fff;
}

.content-header_left__item ul li {
    display: block;
}

.label {
    position: absolute;
    top: 9px;
    right: -3px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    color: #fff;
    border-radius: 50%;
}

.label-danger {
    background-color: #dd4b39;
}

.content-header ul li a {
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
    color: #4f4f4f;
    font-family: 'Open Sans Bold', sans-serif;

}

.form-search {
    /*width: 33%;*/
    margin-right: 10px;
}

.form-control {
    background: #fff;
    border: none;
}

.form-control:focus {
    outline: none;
    border: none;
}

.content-header_right .dropdown-menu {
    display: none;
}

.content-header_right .dropdown-menu:hover {
    display: block;
}

.form-control {
    padding-left: 35px;
    border: none;
}

#search-btn {
    position: absolute;
    top: 0;
    left: 1px;
    background: transparent;
}

.content-header_right div .btn-search {
    background: #009688;
}

.form-search .dropdown {
    background: white;
    color: #ccc;

}

.form-search a.btn-client {
    position: relative;
    display: inline-flex;
    padding: 6px 10px;
    text-decoration: none;
    color: #ccc;

}

a.btn-client i {
    margin-left: 5px;
    margin-top: 4px;
}

.form-search a.btn-client:before {
    content: '|';
    color: #ccc;
    padding-right: 5px;
}

.header-form {
    width: 60%;
}

/*****END SECTION HEADER*/

/* START CONTENT_TEKETS*/
.inner-content-tickets {
    position: relative;
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 15px;

}

.content-tickets_item {
    border-right: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.content-tickets_item:last-child {
    border-right: 0;
}

.inner-content-tickets .title {
    color: #4f4f4f;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.7px;
    text-transform: uppercase;
}

.inner-content-tickets .value {
    font-family: "Open Sans", sans-serif;
    font-size: 37px;
    font-weight: 700;
}

.indicators-danger {
    color: #ff0000;
}

.indicators-good {
    color: #009688;
}

.btn-main {
    background: #009688;
    color: #fff;
    padding: 5px;
    display: inline-block;
}

/* END CONTENT_TEKETS*/

/*TABLE*/
.table-responsive {
    box-shadow: 0 1px 1px rgba(86, 86, 86, 0.49);
    letter-spacing: 0.84px;
    font-size: 14px;
    font-weight: 400;
}

.table {
    border-top: 1px solid rgba(204, 204, 204, 0.54);
}

.table th {
    border: none;
    color: #484848;
    font-family: "Myriad Pro", sans-serif;
    line-height: 24px;
}

.table td {
    color: #8f8f8f;
    font-family: Roboto, sans-serif;
    line-height: 45px;

}

.table th, .table td {
    padding: 1.2em 1.5em;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: none;
}

/*END TABLE */

/*START SUB-HEADER*/
.content-subheader h2 {
    color: #484848;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.03px;
}

.content-subheader .content-subheader_nav {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-subheader .content-subheader_nav li {
    margin-right: 7px;
    margin-bottom: 10px;
    font-size: 14px;
}

.content-subheader .content-subheader_nav li a {
    letter-spacing: -0.03px;
}

a.btn-lock, a.btn-create, a.btn-search {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.28px;
    border-radius: 2px;
}

.content-subheader .btn-lock {
    background: #1c2b36;
}

.content-subheader .btn-create {
    background: #009688;
}

a.btn-act, .data span {
    background: #dfdfe6;
    color: #8f8f8f;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    padding: 6px 10px;

}

a.btn-act i {
    margin-left: 3px;
}

.control a {
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
}

.data span {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 2px;
    margin-left: 10px;
    line-height: 24px;
}

button.btn-search {
    color: #fff;
    font-weight: 700;
}

.input-group button {
    position: absolute;
    top: 0;
    right: -188px;
}

/*END SUB_HEADER*/

/*MEDIA QUERIES*/
@media (max-width: 960px) {

    .btn {
        font-size: .9rem;
    }

    .content-header_left__item a {
        font-size: .9em;
    }

    .form-control {

        font-size: .9em;
    }

    .form-search .dropdown {
        font-size: .9em;
    }
}

@media (max-width: 767px) {
    .btn {
        font-size: .7rem;
    }

    .nav-sidebar li a {
        padding: 5px;
        font-weight: 400;
        font-size: 10px;

    }
}

@media (max-width: 480px) {
    .content-subheader .content-subheader_nav li {
        font-size: 10px;
    }

    .content-subheader h2 {
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
    }

    .table-responsive {
        letter-spacing: 0.54px;
        font-size: 10px;
        font-weight: 400;
    }

    .inner-content-tickets .value {
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }

    .inner-content-tickets .title {
        font-size: 12px;
        text-align: center;
    }

    .inner-content-tickets {
        display: initial;
        width: 50%;
    }

    .form-search a.btn-client {

        display: none;
    }

    a.btn {
        font-size: 10px;
        font-weight: 400;
    }

    .control {
        display: none;
    }
}